/* layout START */
body{
margin:0;
padding:0;
line-height: 1.5em;
background-color: #62B1D0;
font-size:12px;
font-family: '굴림',Gulim,Helvetica,sans-serif;
}

b{font-size: 110%;}
em{color: red;}

#maincontainer{
width: 960px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
background-color: #ffffff;
border:2px solid #000000;
}

#topsection{
height: 157px; /*Height of top section*/
}

#topsection h1{
margin: 0;
padding-top: 15px;
}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
overflow-y:scroll;
height:430px;
margin: 10px 0px 20px 400px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#leftcolumn{
float: left;
width: 400px; /*Width of left column in pixel*/
margin-left: -960px; /*Set margin to that of -(MainContainerWidth)*/
}

#rightcolumn{
float: left;
width: 0; /*Width of right column*/
margin-left: -100px; /*Set left margin to -(RightColumnWidth)*/
}

#footer{
clear: left;
width: 100%;
height: 50px;
background-color: #024C68;
color: #FFF;
text-align: center;
padding: 4px 0;
}

#footer a{
color: #FFFF80;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}
/* layout END */