/* layout START */
body{
margin:0;
padding:0;
line-height: 1.5em;
background-color: #62B1D0;
font-size:12px;
font-family: '굴림',Gulim,Helvetica,sans-serif;
}

b{font-size: 110%;}
em{color: red;}

#maincontainer{
width: 960px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
background-color: #ffffff;
border:2px solid #000000;
}

#topsection{
height: 157px; /*Height of top section*/
}

#topsection h1{
margin: 0;
padding-top: 15px;
}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
overflow-y:scroll;
height:430px;
margin: 10px 0px 20px 400px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#leftcolumn{
float: left;
width: 400px; /*Width of left column in pixel*/
margin-left: -960px; /*Set margin to that of -(MainContainerWidth)*/
}

#rightcolumn{
float: left;
width: 0; /*Width of right column*/
margin-left: -100px; /*Set left margin to -(RightColumnWidth)*/
}

#footer{
clear: left;
width: 100%;
height: 50px;
background-color: #024C68;
color: #FFF;
text-align: center;
padding: 4px 0;
}

#footer a{
color: #FFFF80;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}
/* layout END */

/* myStyle START*/
#title{
display: inline-block;
width: 400px;  /*Width of title image file*/
height: 125px;  /*Height of title image file*/
margin-bottom: 10px;
margin-right: 20px; /*title image margin-right (align-center)*/
text-indent: -5000px;
background-image: url("../images/title.png");
background-repeat: no-repeat;
}

#search_result_table{
width: 520px;
}
#select_result_table{
width: 520px;
}

#fee{
margin-top:10px;
text-align:right;
}

#notice_tab{
position:relative;
z-index: 0;
text-align: left;
margin-top: 10px;
}
#notice_tab .date{
float: right;
}
#notice_tab li{
padding: 2px;
}
#notice_tab .more{
position: absolute;
right: 4px;
top: 7px;
}
#notice_tab .more a{
text-decoration: none;
}

#translate_tab{
margin-top: 20px;
}

table#internal{
width: 335px;
}
table#oversea{
width: 335px;
}

#quick_menu{
padding-top: 10px;
}
#quick_menu li{
padding-top: 20px;
}

/* form_style START */
.cssform p{
width: 300px;
clear: left;
margin: 0;
padding: 5px 0 8px 0;
padding-left: 155px; /*width of left column containing the label elements*/
border-top: 1px dashed gray;
height: 1%;
}

.cssform label{
font-weight: bold;
float: left;
margin-left: -155px; /*width of left column*/
width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.cssform input[type="text"]{ /*width of text boxes. IE6 does not understand this attribute*/
width: 180px;
}

.cssform textarea{
width: 250px;
height: 150px;
}

/*.threepxfix class below:
Targets IE6- ONLY. Adds 3 pixel indent for multi-line form contents.
to account for 3 pixel bug: http://www.positioniseverything.net/explorer/threepxtest.html
*/

* html .threepxfix{
margin-left: 3px;
}
/* form_style END */

/* membership menu START */
#membershipwrap {
float: left;
width: 960px;
height: 1px;
}
#membership {
float: right;
margin-top:5px;
font-size: 12px;
}
#membership li{
display: inline;
}
ul.arrowunderline{
list-style-type:none;
margin:0;
padding:0;
text-align:center; /* enter "left", "right", or "center" to orient the menu accordingly */
}
ul.arrowunderline li{
display:inline;
margin-right:10px; /* spacing between each menu item */
}
ul.arrowunderline li a{
position:relative;
color: #0776A0;
padding-bottom:8px; /*spacing between each menu item and arrow underline beneath it */
text-decoration:none;
font-size:12px;
}
ul.arrowunderline li a:hover{
border-bottom:3px solid purple; /* style of arrow underline */
}
ul.arrowunderline li a:hover:after{ /* use CSS generated content to add arrow to the menu */
content:'';
width:0;
height:0;
position:absolute;
left:50%;
margin-left:-5px; /* value should match border-width below */
bottom: 0;
border-width:5px; /* value should match margin-left above */
border-style:solid;
border-color: transparent transparent purple transparent; /* create up arrow */
}
/* membership menu END */

/* mordenbrick menu START */
#modernbricksmenu{
padding: 0;
width: 100%;
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

#modernbricksmenu ul{
margin:0;
margin-left: 5px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

#modernbricksmenu li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

#modernbricksmenu a{
float: left;
display: block;
color: white;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
text-decoration: none;
letter-spacing: 1px;
background-color: #226078; /*Default menu color*/
border-bottom: 1px solid white;
}

#modernbricksmenu a:hover{
background-color: gray; /*Menu hover bgcolor*/
}

#modernbricksmenu .current a{ /*currently selected tab*/
background-color: #3AA6D0; /*Blue color theme*/ 
border-color: #3AA6D0; /*Blue color theme*/ 
}

#modernbricksmenuline{
clear: both;
padding: 0;
width: 100%;
height: 5px;
line-height: 5px;
background: #3AA6D0; /*Blue color theme*/ 
}
/* mordenbrick menu END */

/* table_style1 START */
.table_style1{
margin: 0;
padding: 0;
line-height: 21px;
border-top: 1px solid #cccccc;
border-left: 1px solid #cccccc;
border-collapse: collapse;
}
.table_style1 th, .table_style1 td{
margin: 0;
padding: 3px 0;
text-align: center;
border-right: 1px solid #cccccc;
border-bottom: 1px solid #cccccc;
}
.table_style1 caption{
margin: 0;
padding: 0;
}
.table_style1 th{
background-color: #e9e9e9;
}
/* table_style1 END */

/* Datepicker_style START */
.datepicker{
width:80px;
}
/* Datepicker_style END */
/* myStyle END*/