/* layout */
body {
    font-size:12px;   
}

#content {
    border:3px double black;  
    width:960px;  
}

/* top */
#top {
    width:960px;
    height:100px;
    text-align:center;
}

#title_img {
    height:100px;
}

/* membership */
#membership {
    width:960px;
    height:20px;
    border-bottom:3px double black;
}

#membership ul {
    float:right;   
}

#membership li{
    float:left; 
    margin-right:10px;
    font-weight:bold;
}

#membership li a{
    text-decoration:none;
}

/* center */
#center {
    width:960px;
    height:445px;
    padding-top:5px;
}

/* center-leftcon */
#left_con {
    width:400px;
    float:left;
}

/* center-leftcon-notice */
#notice {
    position:relative;    
    height:155px;
}

#notice .more a {    
    position:absolute;    
    top:0;    
    right:0;    
    padding:8px 8px 0 0;    
}

#noticeTitle {
    border-bottom:1px solid gray;
    line-height:0;
}

#notice ul {    
    position:absolute;    
    width:100%;    
    top:40px;    
    left:0; 
}

#notice li {
    position:relative;
    padding:0 0 0 12px;
    line-height:1.8;
}

#notice a {
    text-decoration:none;
    color:#033E6B;
}
#notice .date {
    position:absolute;    
    top:0;
    right:0;
    margin-top:-4px;
}

#pdsList {    
    display:none;    
}


/* center-leftcon-translate */
#translate { 
    
}

#oversea {
    display:none;   
}

/* center-righttcon */
#right_con {
    width:560px;
    height:450px;
    overflow-y:scroll;
}

/* bottom */
#bottom {
    clear:both;
    width:960px;
    height:60px;
    text-align:center;
    vertical-align:middle;
    display:table-cell;
    border-top:3px double black;
}
