/* layout START */
body{
margin:0;
padding:0;
line-height: 1.5em;
}

b{font-size: 110%;}
em{color: red;}

#maincontainer{
width: 960px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
}

#topsection{
background: #ffffff;
height: 130px; /*Height of top section*/
}

#topsection h1{
margin: 0;
padding-top: 15px;
}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
margin: 0 100px 0 400px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#leftcolumn{
float: left;
width: 400px; /*Width of left column in pixel*/
margin-left: -960px; /*Set margin to that of -(MainContainerWidth)*/
background: #C8FC98;
}

#rightcolumn{
float: left;
width: 100px; /*Width of right column*/
margin-left: -100px; /*Set left margin to -(RightColumnWidth)*/
background: #FDE95E;
}

#footer{
clear: left;
width: 100%;
background: black;
color: #FFF;
text-align: center;
padding: 4px 0;
}

#footer a{
color: #FFFF80;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}
/* layout END */

/* myStyle START*/
#title{
    display: inline-block;
    text-indent: -5000px;
    background-image: url("../images/title.png");
    background-repeat: no-repeat;
    width: 492px;  /*Width of title image file*/
    height: 117px;  /*Height of title image file*/
}
#notice_tab{
    text-align:left;
}
/* myStyle END*/